Repository CliMA/CloudMicrophysics.jl: changes, and which Codecov flags are due for each by the changed paths.
All: src, ext

refactor: set P3 integral bounds using quantiles
  docs/src/API.md
  src/P3_integral_properties.jl
  src/P3_processes.jl
  src/P3_terminal_velocity.jl
  test/p3_tests.jl
Due: src

feat: add P3 collision rates
  src/P3_processes.jl
Due: src

Update 1M interface + working fluid fixes
  src/Microphysics1M.jl
  test/microphysics1M_tests.jl
Due: src

Bump codecov version
  .github/workflows/CodeCov.yml
  .github/workflows/ci.yml
Due: none

update plots in docs
  docs/src/plots/Microphysics1M_plots.jl
Due: none

bump version
  Project.toml
Due: none

adding triangle inequality limiter
  parcel/ParcelTendencies.jl
Due: none

fixing bug that prevented noneq graph from showing up
  docs/src/IceNucleationParcel0D.md
Due: none

Remove nonequilibrium PhasePartition dependency
  parcel/ParcelTendencies.jl
  src/MicrophysicsNonEq.jl
Due: src

rewriting tests
  test/microphysics_noneq_tests.jl
Due: none

rewriting noneq arguments
  test/gpu_tests.jl
  test/performance_tests.jl
Due: none

updating docstring
  src/MicrophysicsNonEq.jl
Due: src

fixing phase partition wrapper
  src/MicrophysicsNonEq.jl
Due: src

making limiter option in the parcel
  parcel/ParcelParameters.jl
  parcel/ParcelTendencies.jl
  src/MicrophysicsNonEq.jl
Due: src

changing to triangle inequality limiter
  parcel/ParcelTendencies.jl
Due: none

rft/wip: remove P3Distribution struct
  Project.toml
  docs/src/API.md
  docs/src/plots/P3SlopeParameterizations.jl
  src/Common.jl
  src/DistributionTools.jl
  src/P3.jl
  src/P3_integral_properties.jl
  src/P3_particle_properties.jl
  src/P3_size_distribution.jl
  src/P3_terminal_velocity.jl
  test/p3_tests.jl
  test_new_api.jl
Due: src

Update 1M interface + working fluid fixes
  docs/src/plots/Microphysics1M_plots.jl
  src/Microphysics1M.jl
  test/microphysics1M_tests.jl
Due: src

rft: split mass/number ice terminal velocity
  docs/src/API.md
  docs/src/plots/P3TerminalVelocityPlots.jl
  src/P3_terminal_velocity.jl
  test/p3_tests.jl
Due: src

Remove thresholds from P3State
  Project.toml
  docs/src/API.md
  docs/src/P3Scheme.md
  docs/src/plots/Cholette2019_fig1.jl
  docs/src/plots/P3AspectRatioPlot.jl
  docs/src/plots/P3Melting.jl
  docs/src/plots/P3SchemePlots.jl
  docs/src/plots/P3SlopeParameterizations.jl
  docs/src/plots/P3TerminalVelocityPlots.jl
  docs/src/plots/P3Thresholds.jl
  src/P3.jl
  src/P3_integral_properties.jl
  src/P3_particle_properties.jl
  src/P3_size_distribution.jl
  test/p3_tests.jl
  test/ventilation_tests.jl
Due: src

Remove `P3Distribution` struct
  docs/src/API.md
  docs/src/plots/P3AspectRatioPlot.jl
  docs/src/plots/P3SchemePlots.jl
  docs/src/plots/P3SlopeParameterizations.jl
  docs/src/plots/P3Thresholds.jl
  src/P3_integral_properties.jl
  src/P3_particle_properties.jl
  src/P3_processes.jl
  src/P3_size_distribution.jl
  src/P3_terminal_velocity.jl
  test/p3_tests.jl
  test/ventilation_tests.jl
Due: src

Remove `P3Distribution` struct
  docs/src/API.md
  docs/src/plots/P3AspectRatioPlot.jl
  docs/src/plots/P3Melting.jl
  docs/src/plots/P3SchemePlots.jl
  docs/src/plots/P3SlopeParameterizations.jl
  docs/src/plots/P3TerminalVelocityPlots.jl
  docs/src/plots/P3Thresholds.jl
  src/P3_integral_properties.jl
  src/P3_particle_properties.jl
  src/P3_processes.jl
  src/P3_size_distribution.jl
  src/P3_terminal_velocity.jl
  test/p3_tests.jl
  test/ventilation_tests.jl
Due: src

Add julia v1.11 to github CI
  .github/workflows/CodeCov.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

Fixes for julia v1.11 segfault
  docs/src/IceNucleationParcel0D.md
  parcel/Example_NonEq.jl
  parcel/ParcelModel.jl
  parcel/ParcelTendencies.jl
Due: none

MicroNonEq without TD.PhasePartition, bump version
  Project.toml
  parcel/ParcelTendencies.jl
  src/MicrophysicsNonEq.jl
  test/gpu_tests.jl
  test/microphysics_noneq_tests.jl
  test/performance_tests.jl
Due: src

add number concentration adjustment for 2-moment schemes from Horn 2012
  Project.toml
  docs/bibliography.bib
  docs/src/API.md
  docs/src/Microphysics2M.md
  src/Microphysics2M.jl
  src/parameters/Microphysics2M.jl
  test/Project.toml
  test/gpu_tests.jl
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src

add number concentration adjustment for 2-moment schemes from Horn 2012 (#588)
  Project.toml
  docs/bibliography.bib
  docs/src/API.md
  docs/src/Microphysics2M.md
  src/Microphysics2M.jl
  src/parameters/Microphysics2M.jl
  test/Project.toml
  test/gpu_tests.jl
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src

Sketching a future with different thermo modules
  ext/ThermodynamicsExt.jl
  src/AerosolActivation.jl
  src/Common.jl
  src/DistributionTools.jl
  src/IceNucleation.jl
  src/Microphysics0M.jl
  src/Microphysics1M.jl
  src/Microphysics2M.jl
  src/MicrophysicsNonEq.jl
  src/P3_particle_properties.jl
  src/P3_processes.jl
Due: src, ext

adding triangle inequality limiter
  docs/src/IceNucleationParcel0D.md
  parcel/Example_NonEq.jl
  parcel/ParcelModel.jl
  parcel/ParcelParameters.jl
  parcel/ParcelTendencies.jl
Due: none

Path conditions:
  src: any of: src/**
  ext: any of: ext/**
