Repository CliMA/CloudMicrophysics.jl: changes, and which Codecov flags are due for each by the changed paths.
All: src, ext

Fixes for julia v1.11 segfault
  docs/src/IceNucleationParcel0D.md
  parcel/Example_NonEq.jl
  parcel/ParcelModel.jl
  parcel/ParcelTendencies.jl
Due: none

rft: Move `size_distribution` to DistributionTools
  docs/src/API.md
  docs/src/plots/P3SlopeParameterizations.jl
  src/DistributionTools.jl
  src/Microphysics2M.jl
  src/P3_integral_properties.jl
  src/P3_processes.jl
  src/P3_size_distribution.jl
  src/P3_terminal_velocity.jl
  test/p3_tests.jl
Due: src

Remove nonequilibrium PhasePartition dependency
  src/MicrophysicsNonEq.jl
Due: src

fix: 2M microphysics type instability
  src/Microphysics2M.jl
  test/microphysics2M_tests.jl
Due: src

rft: wrap all tests in @testset
  test/DistributionTools_tests.jl
  test/aerosol_activation_calibration.jl
  test/aerosol_activation_tests.jl
  test/aqua.jl
  test/cloud_diagnostics.jl
  test/common_functions_tests.jl
  test/common_types_tests.jl
  test/heterogeneous_ice_nucleation_tests.jl
  test/homogeneous_ice_nucleation_tests.jl
  test/ice_nucleation_calibration.jl
  test/microphysics0M_tests.jl
  test/microphysics1M_tests.jl
  test/microphysics2M_tests.jl
  test/microphysics_noneq_tests.jl
  test/nucleation_unit_tests.jl
  test/p3_tests.jl
  test/performance_tests.jl
  test/precipitation_susceptibility_tests.jl
  test/runtests.jl
  test/ventilation_tests.jl
Due: none

add P3 collisions sub-parameterizations
  docs/src/API.md
  src/P3_processes.jl
  test/p3_tests.jl
Due: src

feat: add p3 collisions
  Project.toml
  docs/bibliography.bib
  docs/make.jl
  docs/src/API.md
  docs/src/P3Scheme.md
  src/P3.jl
  src/P3_processes.jl
  test/p3_tests.jl
Due: src

Remove NonEq clipping
  parcel/ParcelTendencies.jl
  src/MicrophysicsNonEq.jl
Due: src

Remove NonEq clipping (#599)
  parcel/ParcelTendencies.jl
  src/MicrophysicsNonEq.jl
Due: src

Add limiter option for NonEq in parcel
  parcel/Example_NonEq.jl
  parcel/ParcelModel.jl
  parcel/ParcelParameters.jl
  parcel/ParcelTendencies.jl
Due: none

removing clipping and fixing tendencies
  parcel/ParcelModel.jl
  parcel/ParcelTendencies.jl
Due: none

rft: rename VentilationSB2005 -> VentilationFactor
  .gitignore
  docs/Project.toml
  docs/bibliography.bib
  docs/src/API.md
  src/Common.jl
  src/P3_particle_properties.jl
  src/parameters/MicrophysicsP3.jl
Due: src

rft: wrap all tests in @testset
  test/DistributionTools_tests.jl
  test/aerosol_activation_calibration.jl
  test/aerosol_activation_emulators.jl
  test/aerosol_activation_tests.jl
  test/aqua.jl
  test/artifact_calling_tests.jl
  test/cloud_diagnostics.jl
  test/common_functions_tests.jl
  test/common_types_tests.jl
  test/gpu_clima_core_test.jl
  test/gpu_tests.jl
  test/heterogeneous_ice_nucleation_tests.jl
  test/homogeneous_ice_nucleation_tests.jl
  test/ice_nucleation_calibration.jl
  test/microphysics0M_tests.jl
  test/microphysics1M_tests.jl
  test/microphysics2M_tests.jl
  test/microphysics_noneq_tests.jl
  test/nucleation_unit_tests.jl
  test/p3_tests.jl
  test/performance_tests.jl
  test/precipitation_susceptibility_tests.jl
  test/runtests.jl
  test/ventilation_tests.jl
Due: none

rft: clean up calibration test
  ext/EmulatorModelsExt.jl
  test/aerosol_activation_calibration.jl
Due: ext

fix: julia 1.11 list comprehension bug + use Makie
  .github/workflows/JuliaFormatter.yml
  docs/src/plots/Microphysics1M_plots.jl
Due: none

fix: typeinfo in nested structs
  src/parameters/MicrophysicsP3.jl
Due: src

feat: use shared depot for buildkite jobs
  .buildkite/pipeline.yml
Due: none

rv: fix R_i definition
  src/P3_processes.jl
Due: src

add P3 collisions sub-parameterizations
  docs/bibliography.bib
  docs/src/API.md
  src/P3_processes.jl
  test/p3_tests.jl
Due: src

rv: use ClimaParams.jl for local rime density parameters
  docs/src/API.md
  src/P3_processes.jl
  src/parameters/MicrophysicsP3.jl
Due: src

rft: fix fetching of ventilation factor parameters
  src/Common.jl
  src/parameters/MicrophysicsP3.jl
Due: src

fix: add LocalRimeDensity to show method
  src/parameters/MicrophysicsP3.jl
Due: src

rv: update P3 docs
  docs/src/P3Scheme.md
Due: none

rv: remove TODO
  src/P3_processes.jl
Due: src

feat: add p3 collisions
  Project.toml
  docs/make.jl
  docs/src/API.md
  docs/src/P3Scheme.md
  src/P3.jl
  src/P3_processes.jl
  test/p3_tests.jl
Due: src

Fix after parameter rename
  Project.toml
  src/parameters/MicrophysicsP3.jl
  test/Project.toml
Due: src

Bump version for a patch release
  Project.toml
Due: none

Bump version for release
  Project.toml
Due: none

Fix Thermodynamics toml
  Project.toml
Due: none

Update 2M scheme to working fluid changes
  docs/src/plots/RainEvapoartionSB2006.jl
  src/Microphysics2M.jl
  test/gpu_tests.jl
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src

Cleanup in rain evaportaion
  src/Microphysics2M.jl
Due: src

Delete PP from microphysics interface (not in 0M)
  Project.toml
  docs/src/plots/Microphysics1M_plots.jl
  src/Microphysics0M.jl
  src/Microphysics1M.jl
  src/Microphysics2M.jl
  src/MicrophysicsNonEq.jl
  src/ThermodynamicsInterface.jl
  test/aerosol_activation_emulators.jl
  test/gpu_tests.jl
  test/microphysics1M_tests.jl
  test/microphysics2M_tests.jl
  test/microphysics_noneq_tests.jl
  test/performance_tests.jl
Due: src

Bump version for a new release
  Project.toml
Due: none

feat: add P3 collisions sub-parameterizations
  docs/bibliography.bib
  docs/src/API.md
  docs/src/plots/P3Melting.jl
  docs/src/plots/P3TerminalVelocityPlots.jl
  src/Common.jl
  src/P3_processes.jl
  src/P3_terminal_velocity.jl
  src/parameters/MicrophysicsP3.jl
  test/p3_tests.jl
  test/runtests.jl
  test/ventilation_tests.jl
Due: src

feat: add p3 liquid-ice collisions
  Project.toml
  docs/make.jl
  docs/src/API.md
  docs/src/P3Scheme.md
  src/P3.jl
  src/P3_processes.jl
  src/parameters/MicrophysicsP3.jl
  test/p3_tests.jl
Due: src

Path conditions:
  src: any of: src/**
  ext: any of: ext/**
