Repository CliMA/CloudMicrophysics.jl: changes, and which Codecov flags are due for each by the changed paths.
All: src, ext

figure
  docs/src/plots/P3TerminalVelocityPlots.jl
Due: none

aqua tests passing?
  Project.toml
Due: none

radar reflectivity
  docs/src/API.md
  src/Microphysics1M.jl
  test/microphysics1M_tests.jl
  test/performance_tests.jl
Due: src

clean up
  docs/src/plots/P3TerminalVelocityPlots.jl
  src/P3Scheme.jl
  test/p3_tests.jl
  test/performance_tests.jl
Due: src

radar reflectivity
  src/Microphysics1M.jl
  test/microphysics1M_tests.jl
Due: src

docs fixed?
  docs/src/plots/P3SchemePlots.jl
Due: none

radar reflectivity
  test/performance_tests.jl
Due: none

V_n added
  src/P3Scheme.jl
  test/p3_tests.jl
  test/performance_tests.jl
Due: src

format
  src/P3Scheme.jl
  test/p3_tests.jl
Due: src

deleted old test about negative vel
  test/p3_tests.jl
Due: none

radar reflectivity
  docs/src/Microphysics1M.md
  docs/src/plots/MarshallPalmer_distribution.jl
  test/microphysics1M_tests.jl
  test/performance_tests.jl
Due: none

Ensure longrun reports status on failure
  .buildkite/longruns/pipeline.yml
Due: none

fix formatting
  .buildkite/longruns/pipeline.yml
Due: none

comments + edits
  docs/src/plots/P3SchemePlots.jl
  src/P3Scheme.jl
Due: src

project.toml edits
  Project.toml
Due: none

fixed format errors
  docs/src/plots/P3SchemePlots.jl
Due: none

Adding radar reflectivity to 1moment scheme
  docs/src/API.md
  docs/src/Microphysics1M.md
  docs/src/plots/MarshallPalmer_distribution.jl
  src/Microphysics1M.jl
  test/microphysics1M_tests.jl
  test/performance_tests.jl
Due: src

Linear HOM J option
  docs/src/API.md
  docs/src/IceNucleation.md
  docs/src/plots/HomFreezingPlots.jl
  docs/src/plots/linear_HOM_J.jl
  parcel/ParcelTendencies.jl
  src/IceNucleation.jl
  src/parameters/IceNucleation.jl
  test/gpu_tests.jl
  test/homogeneous_ice_nucleation_tests.jl
  test/performance_tests.jl
Due: src

parcel homogeneous freezing is linear by default
  parcel/ParcelTendencies.jl
Due: none

Adding radar reflectivity and effective radius to 2M scheme
  docs/src/API.md
  docs/src/Microphysics1M.md
  docs/src/Microphysics2M.md
  src/Microphysics1M.jl
  src/Microphysics2M.jl
  test/Project.toml
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src

Adding radar reflectivity and effective radius to 2M scheme
  docs/src/Microphysics2M.md
Due: none

Adding radar reflectivity and effective radius to 2M scheme
  docs/src/API.md
  docs/src/Microphysics2M.md
  src/Microphysics2M.jl
Due: src

Adding radar reflectivity and effective radius to 2M scheme
  src/Microphysics2M.jl
  test/Project.toml
Due: src

correction formatting and documentation
  src/Microphysics2M.jl
Due: src

packages and dependencies updates
  test/microphysics2M_tests.jl
Due: none

missing packages added
  src/Microphysics2M.jl
  test/Project.toml
Due: src

corrected documentation
  docs/src/Microphysics2M.md
Due: none

perfect model calibration homogeneous freezing
  papers/ice_nucleation_2024/perfect_model_J.jl
  papers/ice_nucleation_2024/plot_ensemble_mean.jl
  test/ice_nucleation_calibration.jl
Due: none

add JET test_opt to performance tests
  test/Project.toml
  test/performance_tests.jl
Due: none

changes based on comments
  src/Microphysics2M.jl
  test/Project.toml
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src

Adding radar reflectivity and effective radius to 2M scheme
  .buildkite/longruns/pipeline.yml
  .buildkite/pipeline.yml
  Project.toml
  docs/src/API.md
  docs/src/AerosolActivation.md
  docs/src/IceNucleation.md
  docs/src/Microphysics1M.md
  docs/src/Microphysics2M.md
  docs/src/plots/HomFreezingPlots.jl
  docs/src/plots/MarshallPalmer_distribution.jl
  docs/src/plots/linear_HOM_J.jl
  ext/Common.jl
  ext/EmulatorModelsExt.jl
  papers/Project.toml
  papers/ice_nucleation_2024/perfect_model_J.jl
  papers/ice_nucleation_2024/plot_ensemble_mean.jl
  parcel/ParcelTendencies.jl
  src/IceNucleation.jl
  src/Microphysics1M.jl
  src/Microphysics2M.jl
  src/parameters/IceNucleation.jl
  test/Project.toml
  test/aerosol_activation_calibration.jl
  test/gpu_tests.jl
  test/homogeneous_ice_nucleation_tests.jl
  test/ice_nucleation_calibration.jl
  test/microphysics1M_tests.jl
  test/microphysics2M_tests.jl
  test/performance_tests.jl
  test/runtests.jl
Due: src, ext

Fix longruns pipeline
  Project.toml
  ext/EmulatorModelsExt.jl
  test/aerosol_activation_emulators.jl
Due: ext

2 Moment radar reflectivity and effective radius
  docs/src/API.md
  docs/src/Microphysics2M.md
  src/Microphysics1M.jl
  src/Microphysics2M.jl
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src

Add terminal velocities to P3 scheme
  Project.toml
  docs/Project.toml
  docs/src/API.md
  docs/src/P3Scheme.md
  docs/src/plots/P3SchemePlots.jl
  docs/src/plots/P3TerminalVelocityPlots.jl
  src/Common.jl
  src/P3Scheme.jl
  test/Project.toml
  test/p3_tests.jl
  test/performance_tests.jl
Due: src

Clean dependencies
  Project.toml
  docs/Project.toml
  test/Project.toml
Due: none

Reorder runtests so slow tests run last
  test/microphysics1M_tests.jl
  test/microphysics2M_tests.jl
  test/microphysicsflexible_tests.jl
  test/runtests.jl
Due: none

new r_eff parametrization and update 2-moment formulas radarrefl and r_eff
  docs/bibliography.bib
  docs/src/API.md
  docs/src/Microphysics2M.md
  src/Microphysics2M.jl
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src

Bump version for a new release
  Project.toml
Due: none

Path conditions:
  src: any of: src/**
  ext: any of: ext/**
