Repository CliMA/CloudMicrophysics.jl: changes, and which Codecov flags are due for each by the changed paths.
All: src, ext

codecov.yml:

# Report code coverage separately for source and extension folders
# See docs: https://docs.codecov.com/docs/components
comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_src  # this is an identifier that should not be changed
      name: src  # this is a display name, and can be changed freely
      paths:
        - src/**
    - component_id: module_ext
      name: ext
      paths:
        - ext/**

Add changelog
  NEWS.md
Due: none

Adding example for condensation/parcel to docs
  docs/src/MicrophysicsFlexible.md
  ext/CloudyExt.jl
  parcel/Example_NMoment_condensation.jl
Due: ext

format
  ext/CloudyExt.jl
  parcel/Example_NMoment_condensation.jl
Due: ext

Generalize ice nucleation calibration funcs
  NEWS.md
  papers/ice_nucleation_2024/calibration.jl
  papers/ice_nucleation_2024/calibration_setup.jl
  papers/ice_nucleation_2024/plot_ensemble_mean.jl
  test/ice_nucleation_calibration.jl
  test/performance_tests.jl
Due: none

AIDA ice nucleation calibrations
  papers/ice_nucleation_2024/AIDA_calibration.jl
Due: none

add cloudy to docs project
  docs/Project.toml
Due: none

Update climacommon to 2024_04_30
  .buildkite/longruns/pipeline.yml
  .buildkite/pipeline.yml
Due: none

Fix buildkite for new ClimaComms
  .buildkite/pipeline.yml
  test/gpu_tests.jl
Due: none

AIDA HOM ice nuc data as artifacts
  Artifacts.toml
  NEWS.md
  papers/ice_nucleation_2024/AIDA_data_artifact/OutputArtifacts.toml
  papers/ice_nucleation_2024/AIDA_data_artifact/Project.toml
  papers/ice_nucleation_2024/AIDA_data_artifact/README.md
  papers/ice_nucleation_2024/AIDA_data_artifact/create_AIDA_artifacts.jl
Due: none

add sensitivity checks for r_eff and radarrefl 2M
  src/Microphysics2M.jl
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src

Removing the CloudyExt
  Project.toml
  docs/make.jl
  docs/src/API.md
  docs/src/MicrophysicsFlexible.md
  ext/CloudyExt.jl
  parcel/Example_NMoment_condensation.jl
  parcel/Project.toml
  src/CloudMicrophysics.jl
  src/MicrophysicsFlexible.jl
  test/Project.toml
  test/microphysicsflexible_tests.jl
Due: src, ext

Named tuple in 2M evaporation, changed aerosol model constructor
  NEWS.md
  Project.toml
  docs/src/plots/ARGplots.jl
  docs/src/plots/ARGplots_fig1.jl
  docs/src/plots/RainEvapoartionSB2006.jl
  ext/Common.jl
  src/AerosolActivation.jl
  src/AerosolModel.jl
  src/Microphysics2M.jl
  test/aerosol_activation_calibration.jl
  test/aerosol_activation_tests.jl
  test/gpu_tests.jl
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src, ext

Removing the CloudyExt (#393)
  Project.toml
  docs/make.jl
  docs/src/API.md
  docs/src/MicrophysicsFlexible.md
  ext/CloudyExt.jl
  parcel/Example_NMoment_condensation.jl
  parcel/Project.toml
  src/CloudMicrophysics.jl
  src/MicrophysicsFlexible.jl
  test/Project.toml
  test/microphysicsflexible_tests.jl
Due: src, ext

add sensitivity checks for r_eff and radarrefl 2M
  Project.toml
  docs/src/API.md
  docs/src/Microphysics2M.md
  docs/src/plots/RainEvapoartionSB2006.jl
  src/Microphysics2M.jl
  src/parameters/Microphysics2M.jl
  test/Project.toml
  test/common_types_tests.jl
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src

Add P3 collision tendencies
  Project.toml
  docs/src/P3Scheme.md
  docs/src/plots/P3SchemePlots.jl
  docs/src/plots/P3TendenciesSandbox.jl
  src/P3Scheme.jl
  test/p3_tests.jl
Due: src

remove unnecessary constructors
  Project.toml
  src/AerosolModel.jl
Due: src

melting
  docs/src/P3Scheme.md
  docs/src/plots/P3TendenciesSandbox.jl
  src/P3Scheme.jl
  test/p3_tests.jl
Due: src

p3 freezing
  docs/src/P3Scheme.md
  docs/src/plots/P3TendenciesSandbox.jl
  src/P3Scheme.jl
  test/p3_tests.jl
Due: src

formatting
  src/P3Scheme.jl
  test/p3_tests.jl
Due: src

Fix longruns
  ext/EmulatorModelsExt.jl
  test/aerosol_activation_emulators.jl
Due: ext

Test different limiters for SB scheme
  src/parameters/toml/SB2006_limiters.toml
  test/microphysics2M_tests.jl
Due: src

change limiters
  Project.toml
  docs/src/Microphysics2M.md
  src/Microphysics2M.jl
  src/parameters/toml/SB2006_limiters.toml
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src

Add total activated number to ML extension
  ext/EmulatorModelsExt.jl
  test/aerosol_activation_emulators.jl
Due: ext

integral functions
  src/Microphysics2M.jl
Due: src

Testing SB limiters
  src/Microphysics2M.jl
  test/test_SB2006_limiters.jl
Due: src

Update climacommon to 2024_05_27
  .buildkite/longruns/pipeline.yml
  .buildkite/pipeline.yml
Due: none

Add P3 integral vs gamma function tests
  Project.toml
  docs/src/API.md
  docs/src/plots/P3SchemePlots.jl
  src/CloudMicrophysics.jl
  src/P3Scheme.jl
  src/TerminalVelocity.jl
  src/parameters/MicrophysicsP3.jl
  src/parameters/TerminalVelocity.jl
  test/p3_tests.jl
  test/runtests.jl
  test/terminal_velocity_tests.jl
Due: src

add check r_eff and Z
  docs/src/Microphysics2M.md
  src/Microphysics2M.jl
  src/parameters/toml/SB2006_limiters.toml
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src

1M radarrefl adjustment
  src/Microphysics1M.jl
  test/microphysics1M_tests.jl
Due: src

Make SB2006 limiters optional, add SB2006 cloud size distribution parameters
  docs/src/API.md
  docs/src/Microphysics2M.md
  docs/src/plots/Microphysics2M_plots.jl
  docs/src/plots/RainEvapoartionSB2006.jl
  src/Microphysics2M.jl
  src/PrecipitationSusceptibility.jl
  src/parameters/Microphysics2M.jl
  src/parameters/toml/SB2006_limiters.toml
  test/gpu_tests.jl
  test/microphysics2M_tests.jl
  test/performance_tests.jl
Due: src

correction 2M
  src/Microphysics2M.jl
Due: src

--
  test/performance_tests.jl
Due: none

correction pdf_rain 2Moment
  src/Microphysics2M.jl
  test/microphysics2M_tests.jl
Due: src

New release for KiD
  Project.toml
Due: none

starting to plot vel
  docs/src/plots/P3TerminalVelocityPlots_TestingLiquidFraction.jl
  src/P3Scheme.jl
Due: src

TODO: finish modifying shape param solvers
  docs/src/plots/P3TerminalVelocityPlots_TestingLiquidFraction.jl
  src/P3Scheme.jl
Due: src

Add artifact calling function
  NEWS.md
  Project.toml
  docs/src/API.md
  docs/src/ArtifactCalling.md
  docs/src/DevelopersGuide.md
  src/ArtifactCalling.jl
  src/CloudMicrophysics.jl
  test/artifact_calling_tests.jl
  test/ice_nucleation_calibration.jl
  test/performance_tests.jl
Due: src

Cleanup in limiters
  src/Microphysics2M.jl
  test/Project.toml
  test/microphysics2M_tests.jl
Due: src
